::selection {
    background: #333232 !important;
    color: #fff;
  }
  body {
    background-color: #f2f2f2 !important;
    font-family: "Nunito", sans-serif;
  }
  
  .bk {
    background-color: #1f1f1f;
    color: #fff;
  }
  
  .bk:hover{
    border: 1px solid #1f1f1f;
  }
  
  .focus {
    color: #1f1f1f;
    font-weight: bold;
  }
  
  .g-text {
    font-size: 1.5rem;
  }
  
  .purple {
    background-color: #4f3872;
  }

  .purp{
    color:#4f3872;
  }
  
  .btn-purple{
    background-color: #4f3872;
    color: #fff;
  }
  
  .btn-purple:hover{
    background-color: #fff;
    color: #4f3872;
    border: 1px solid #4f3872;
  }
  
  .logo-login {
    width: 300px;
    height: auto;
  }
  
  .logo-menu {
    width: 200px;
    height: auto;
  }
  
  /* swiper */
  
  .swiper {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: none!important; 
  }
  
  .swiper a{
    cursor: none;
  }
  
  .drag-indicator, .drag-indicator2 {
    position: absolute;
    background: #1f1f1f;
    text-align: center;
    color: white;
    padding: 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    opacity: 0; /* Oculto por defecto */
    transition: opacity 0.3s;
    pointer-events: none; /* Para que el cursor pueda interactuar con el contenedor */
  }
  
  .mySwiper:hover .drag-indicator {
    opacity: 1; /* Aparece al hacer hover */
    z-index: 99;
  }
  
  .mySwiper2:hover .drag-indicator2 {
    opacity: 1; /* Aparece al hacer hover */
    z-index: 99;
  }
  
  .swiper-slide {
    display: flex;
  }
  
  .swiper-slide:hover img{
    transform: scale(0.95);
  }
  
  .card:hover img{
    transform: scale(0.95);
  }
  
  .card img{
    transition: transform 0.3s ease;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .radio {
    border-radius: 2rem !important;
  }
  
  .blur {
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(3px);
    border-radius: 0 2rem 2rem 2rem;
  }
  
  .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #4f3872;
  }
  
  .modal-header{
    border-bottom: none!important;
  }
  .pegajoso{
    position: sticky;
    top: 8%;
    z-index: 1020;
  }
  /* MEDIAQUERIES */
  
  /* Movil */
  @media screen and (max-width:968px) {
    .logo-menu {
      width: 150px;
      height: auto;
    }
  }
  
  /* END MEDIAQUERIES */