# Ignorar archivos temporales del sistema operativo
*.log
*.tmp
error_log

# Ignorar carpetas de dependencias
vendor/

# Ignorar archivos de configuración personal
.env

# Ignorar carpetas de compilación o generación
images/